:host {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15%;

    .container {
        overflow: hidden;
        width: 100%;
        height: 100%;
        clip-path: polygon(
            0 0, 100 0, 100 100, 0 100, 0 0,
            10 10, 90 10, 90 90, 10 90, 10 10);
    }

    .spinner {
        height: 130%;
        width: 30%;
        animation: spin infinite;
    }
}

@keyframes spin {
    0% {
        transform: rotateZ(0);
    }

    100% {
        transform: rotateZ(360);
    }
}
