<form [formGroup]="form">
  <div class="alias">
    <span class="fa fa-key"></span>
    <input type="text" formControlName="alias" placeholder="Enter Alias..." appInputPattern="[A-Za-z_]" />
  </div>
  <div class="parent">
    <label for="parent-alias">Parent</label>
    <input type="text" id="parent-alias" formControlName="parentAlias" list="content-type-aliases"/>
    <datalist id="content-type-aliases">
      <option [value]="''">No Parent (root)</option>
      <option *ngFor="let contentTypeAlias of contentTypeAliases$ | async"
              [value]="contentTypeAlias">{{contentTypeAlias}}</option>
    </datalist>
  </div>
  <div class="actions">
    <button (click)="revertForm()"><span class="fa fa-undo"></span> Revert</button>
    <button class="success" (click)="submit()"><span class="fa fa-save"></span> Save</button>
  </div>
  <div class="properties">
    <h5>Properties</h5>
    <ng-container formArrayName="properties"
                  *ngFor="let item of propertiesControls; let i = index">
      <div class="prop-control-group" [formGroupName]="i">
        <button class="remove-button danger" (click)="removeProperty(i)"><span class="fa fa-trash"></span></button>
        <select formControlName="dataTypeAlias">
          <option *ngFor="let dataType of dataTypes$ | async" [value]="dataType.alias">{{dataType.alias}}</option>
        </select>
        <input type="text" formControlName="alias">
      </div>
    </ng-container>
    <button class="add-property-button" (click)="addProperty()"><span class="fa fa-plus"></span></button>
    <h5 *ngIf="!!original?.parentAlias">Inherited Properties from {{original?.parentAlias}}</h5>
    <h5>Default Properties</h5>
    <div class="default-properties">
      <div class="default-property-group">
        <input type="text" value="text" readonly />
        <input type="text" value="title" readonly />
      </div>
    </div>
  </div>
  <div class="template">
    <h5>Template</h5>
    <ng-container *ngIf="(templates$ | async)?.length > 0 else noTemplates">
      <input type="text" id="template-alias" formControlName="templateAlias" list="templates-aliases" />
      <datalist id="templates-aliases">
        <option *ngFor="let template of templates$ | async">
                [value]="template.alias">{{template.alias}}</option>
      </datalist>
    </ng-container>
    <ng-template #noTemplates>
      <small><i>No Templates Created Yet</i></small>
    </ng-template>
  </div>
</form>
