<form [formGroup]="form">
  <div class="header">
    <span class="fa fa-key"></span>
    <input type="text" formControlName="alias" placeholder="Enter Alias..." appInputPattern="[A-Za-z_]" />
    <span>inherits</span>
    <input type="text" formControlName="parentAlias" list="content-type-aliases" />
    <datalist id="content-type-aliases">
      <option *ngFor="let contentTypeAlias of contentTypeAliases$ | async"
              [value]="contentTypeAlias">{{contentTypeAlias}}</option>
    </datalist>
  </div>
  <div class="actions">
    <button (click)="revertForm()"><span class="fa fa-undo"></span> Revert</button>
    <button class="success" (click)="submit()"><span class="fa fa-save"></span> Save</button>
  </div>
  <div class="properties">
    <h5>Properties</h5>
    <ng-container formArrayName="properties"
                  *ngFor="let item of propertiesControls; let i = index">
      <div class="prop-control-group" [formGroupName]="i">
        <button class="remove-button danger" (click)="removeProperty(i)"><span class="fa fa-trash"></span></button>
        <select formControlName="dataTypeAlias">
          <option *ngFor="let dataType of dataTypes$ | async" [value]="dataType.alias">{{dataType.alias}}</option>
        </select>
        <input type="text" formControlName="alias">
      </div>
    </ng-container>
    <button class="add-property-button" (click)="addProperty()"><span class="fa fa-plus"></span></button>
    <h5 *ngIf="!!original?.parentAlias">Inherited Properties from {{original?.parentAlias}}</h5>
    <h5>Default Properties</h5>
    <div class="default-properties">
      <div class="default-property-group">
        <input type="text" value="text" readonly />
        <input type="text" value="title" readonly />
      </div>
    </div>
  </div>
  <div class="template">
    <h5>Template</h5>
    <input formControlName="templateAlias" list="templates"/>
    <datalist id="templates">
      <ng-container *ngFor="let template of templates$ | async">
        <option [value]="template.alias">{{template.alias}}</option>
      </ng-container>
    </datalist>
  </div>
</form>
