/* You can add global styles to this file, and also import other style files */
@import './themes/theme-variables';
@import './themes/light-theme.scss';

body {
    margin: 0px;
    width: 100%;
    height: 100vh;

    overflow: hidden;

    font-family: var(--clear-cms-font-family);

    color: var(--clear-cms-text-color);
    background-color: var(--clear-cms-background-color);

    a {
        text-decoration: none;
        color: var(--clear-cms-link-color);
    }
}
