/* You can add global styles to this file, and also import other style files */
@import './themes/theme-variables';
@import './themes/light-theme.scss';
@import '@sweetalert2/theme-minimal/minimal.scss';

body {
    margin: 0px;
    width: 100%;
    height: 100vh;

    overflow: hidden;

    font-family: var(--clear-cms-font-family);

    color: var(--clear-cms-text-color);
    background-color: var(--clear-cms-background-color);

    *:focus {
        outline-color: var(--clear-cms-primary-color);
        outline-width: 1px;
    }

    a {
        text-decoration: none;
        color: var(--clear-cms-link-color);
    }

    fieldset {
        border: 0px;
    }

    input,
    select {
        padding: 0.5rem;
        margin: 0.5rem;
        border-top: 1px solid transparent;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        border-bottom: 1px solid var(--clear-cms-line-separator-color);
        color: var(--clear-cms-text-color);
        background-color: var(--clear-cms-background-color);

        &:hover,
        &:active,
        &:focus {
            border: 1px solid var(--clear-cms-line-separator-color);
        }

        &::placeholder {
            opacity: 0.5;
            font-style: italic;
            font-weight: normal;
        }
    }
}
