/* You can add global styles to this file, and also import other style files */
@import './themes/theme-variables';
@import './themes/light-theme.scss';

body {
    margin: 0px;
    width: 100%;
    height: 100vh;
}
