<ng-container *ngIf="!isReadOnly else readOnly">
  <select class="data-type" formControlName="dataTypeAlias">
    <option *ngFor="let dataTypeAlias of dataTypeAliases$ | async"
            [value]="dataTypeAlias">{{dataTypeAlias}}</option>
  </select>
  <input type="text" class="value" formControlName="alias" />
</ng-container>

<ng-template #readOnly>
  <input type="text" class="data-type" [value]="dataTypeAlias" readonly />
  <input type="text" class="value" [value]="value" readonly />
</ng-template>
