:host {
    width: 100%;

    .root-node {
        display: flex;
        width: 100%;
        text-align: right;
        align-items: center;
        justify-content: flex-end;

        &:hover .actions {
            visibility: visible;
        }
    }

    .node {
        display: flex;
        width: 100%;
        text-align: left;
        align-items: center;

        .caret {
            color: var(--clear-cms-text-color);
            cursor: pointer;
            display: inline-block;
            margin-right: 0.2rem;
            min-width: 0.5rem;
            transition: transform 0.2s;
            text-align: right;

            &.expanded {
                transform: rotate(90deg);
            }

            &.hidden {
                display: none;
                position: relative;

                + .text::before {
                    content: '';
                    margin-left: 0.8rem;
                }
            }
        }

        .text {
            width: 100%;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            text-overflow: ellipsis;

            &.current {
                font-weight: bold;
            }
        }

        &:hover .actions {
            visibility: visible;
        }
    }

    .actions {
        visibility: hidden;
        display: flex;
        gap: 2px;
    }

    ul {
        list-style: none;
        margin-top: 0px;
        margin-bottom: 0px;
        transition: all 0.2s;
        padding-inline-start: 1rem;
        display: none;
        opacity: 0;

        &.expanded {
            display: block;
            opacity: 1;
        }
    }
}
